<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-static-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarsExampleDefault">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Visualization <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/data">Upload Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/config">Configuration</a>
      </li>
    </ul>
  </div>
</nav>
