{% extends "layout.html" %} {% block body %}
<h1>Configuration</h1>
<form class="form-horizontal" method="post">
  {% for key, value in data.items() %}
  <div class="form-group">
    <label for="{{ key }}" class="col-sm-6 control-label">{{ key }}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="{{ key }}" name="{{ key  }}"value="{{ value }}">
    </div>
  </div>
  {% endfor %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" name='Save' value='Save'>Save</button>
    </div>
  </div>
</form>
{% endblock %}
