{% extends "layout.html" %}

{% block body %}
<script>
setInterval(function() {
 $.ajax({
  type: "POST",
  url: "/_uploaded_files",
 })
  .done(function( data ) {
    var tableHtml = '<tr><th>File name</th><th>Number of Objects</th><th>Last update</th></tr>';
    var data = JSON.parse(data)
    var lenHtml = "Total: "+Object.keys(data).length+' Files';
    for (var key in data) {
      if (data.hasOwnProperty(key)) {
        tableHtml += '<tr><td>'+key+'</td><td>'+data[key][0]+'</td><td>'+data[key][1]+'</td> </tr>';
      }
    }
    $("#len-box").html(lenHtml)
    $("#table-box").html(tableHtml)
   }).fail(function(jqXHR, textStatus, errorThrown) {
     console.log(jqXHR, textStatus, errorThrown);
   });
  }, 10000);
$(document).ready(function(){
  $("#reset-btn").click(function(){
    $.ajax({
      type: 'POST',
      url: "/data",
      data: {"Reset":"Reset"},
      dataType: "text",
      success: function () {
          alert("Success: Reset");
          setTimeout(function(){window.location.href = "/data"}, 2000);
          }
    });
  });
  $("#upload-btn").click(function(){
    $("#upload-btn").disabled=true;
    $.ajax({
      type: 'POST',
      url: "/data",
      data: {"Upload":"Upload"},
      dataType: "text",
      success: function () {
          alert("Success: Upload");
          setTimeout(function(){window.location.href = "/data"}, 10);
          }
    });
  });
});
</script>

<h1>Data Overview</h1>
<div class="row" style="height: 600px; overflow:auto;">
<table class="table table-bordered" id='table-box'>
    <tr>
        <th>File name</th>
        <th>Number of Objects</th>
        <th>Last update</th>
    </tr>
    {% if files != None %}{% for key, val in files.items() %}
    <tr>
        <td>{{key}}</td>
        <td>{{ val[0] }}</td>
        <td>{{ val[1] }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</div>

<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4" id='len-box'>Total: {{ files|length }} Files</div>
</div>

<div class="row">
    <div class="col-md-4">
    <button id="upload-btn" class="btn btn-default" type="button">Upload Files</button>
    </div>
    <div class="col-md-4">
    <button type="button" class="btn btn-default" id="reset-btn">Reset Database</button>
    </div>
</div>


{% endblock %}
