{% extends "layout.html" %}

{% block body %}
<h1>Visualization</h1>

<button type="button" class="btn border border-dark btn-default float-sm-right" id="data_request_btn">Request Data</button>

<p id="dyn_block"> Start Content</p>
<br>

<br><br><br>
<label for="mission0">Mission Name:</label>
<input type="text", value = "", id="mission0", class="form-control float-sm-right col-md-6">

<br><br>
<label for="starttimeMin">Select Starttime</label>
<input type="text" id="starttimeMin" value="1900-01-01", class="form_datetime form-control col-md-4 float-sm-right" />
<input type="text" id="starttimeMax" value="2020-12-24", class="form_datetime form-control col-md-4 float-sm-right" />

<br><br>
<label for="stoptimeMin">Select Stoptime</label>
<input type="text" id="stoptimeMin" value="1900-01-01", class="form_datetime form-control col-md-4 float-sm-right" />
<input type="text" id="stoptimeMax" value="2020-12-31", class="form_datetime form-control col-md-4 float-sm-right" />
<br><br><br>

<br><br>

<table id="testTable" class="table table-striped">
    <thead>
        <tr class="thead-dark">
            <th>Mission</th>
            <th>Starttime</th>   
            <th>Stoptime</th>
            <th>Coordinates</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>value 1</td>
            <td>value 2</td>
            <td>value 3</td>
            <td>value 4</td>
        </tr>
    </tbody>

</table>


<script type="text/javascript">
     $(function() {    
        $("#data_request_btn").click(function(){
            $("#dyn_block").html("Working");
            $.ajax({
                // it needs to be property:value NOT property=value
                // Post request because we need to send filter values
                // Mock Request works with both POST and GET
                type:'GET',
                url:"/api/filter?mission0=" +  $("#mission0").val() 
                            +   "&starttimeMin="+$("#starttimeMin").val()
                            +   "&starttimeMax=" +$("#starttimeMax").val()
                            +   "&stoptimeMin="+$("#stoptimeMin").val()
                            +   "&stoptimeMax=" + $("#stoptimeMax").val(),
                data:{},
                contentType: 'application/json;charset=UTF-8',
                cache: false,
                success: function (data) {
                    console.log('sucessful answer received!');
                    $("#dyn_block").html(data.content);
                    $("#testTable tbody").empty();
                    $.each(data.hits.hits, function(i,item){
                        $("#testTable tbody").append(
                            "<tr>"
                                + "<td>" + data.hits.hits[i]._source.mission0 + "</td>"
                                + "<td>" + data.hits.hits[i]._source.starttime1 + "</td>"
                                + "<td>" + data.hits.hits[i]._source.stoptime1 + "</td>"
                                + "<td>" + data.hits.hits[i]._source.coordinates + "</td>"
                            + "</tr>"
                        );
                    });
                },
            });
        });
    });



</script>

{% endblock %}
