body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: 0;
}

a:link {
  text-decoration: none;
  border: none;
  -moz-outline-style: none;
  outline: none;
}

a:visited {
  text-decoration: none;
  border: none;
  -moz-outline-style: none;
  outline: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  border: none;
  -moz-outline-style: none;
  outline: none;
}

a:active {
  text-decoration: none;
  border: none;
  -moz-outline-style: none;
  outline: none;
}

a:focus {
  text-decoration: none;
  border: none;
  -moz-outline-style: none;
  outline: none;
}

/* .dropdown-content {
  max-height: 650px;
}

.dropdown-content {
  max-height: 250px;
} */

.autocomplete {
  display: -ms-flexbox;
  display: flex;
}

.autocomplete .ac-users {
  padding-top: 10px;
}

.autocomplete .ac-users .chip {
  -ms-flex: auto;
  flex: auto;
  margin-bottom: 10px;
  margin-right: 10px;
}

.autocomplete .ac-users .chip:last-child {
  margin-right: 5px;
}

.autocomplete .ac-dropdown .ac-hover {
  background: #eee;
}

.autocomplete .ac-input {
  -ms-flex: 1;
  flex: 1;
  min-width: 150px;
  padding-top: 0.6rem;
}

.autocomplete .ac-input input {
  height: 2.4rem;
}

/* UL padding override - see https://github.com/Dogfalo/materialize/issues/2786#issuecomment-234809753  */

ul {
  padding-left: 20px;
}

.btn {
  font-size: .8em;
}

#plot_dashboard_body {
  width: 100%;
  height: 700px;
  margin: 0px;
}

/* not sure why this is needed... */

.material-icons {
  vertical-align: bottom;
}

.modal:focus {
  outline: none;
}

.modal-header {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.width-90 {
  width: 90%;
}

.width-95 {
  width: 95%;
}